@keyframes arrow {
  from {
    translate: 0;
  }
  to {
    translate: 4px;
  }
}

@keyframes beat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}