/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-block-start: 100px;
  font-family: var(--main-font), sans-serif;
  background-image: var(--bg-image);
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--regular);
}

.header {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: var(--header-padding) min-content var(--header-padding);
  border: 2px solid var(--accent-color);
  background-color: #fff;
  inline-size: var(--section-inline-size);
  max-inline-size: 700px;
  min-inline-size: 375px;
}

.header__title {
  grid-row: 2 / 3;
  justify-self: center;
  font-family: var(--accent-font);
}

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-align: center;
  text-transform: uppercase;
}

.title {
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size: var(--section-inline-size);
  max-inline-size: 700px;
  min-inline-size: 375px;
}

.card {
  border: 2px solid var(--accent-color);
  background-color: #fff;
}

.card:first-of-type {
  margin-block-start: 50px;
}

.card__title {
  border-block-end: 2px solid var(--accent-color);
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--bold);
}

.card__image-container {
  position: relative;
  aspect-ratio: 1 / 1;
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.filter-contrast {
  filter: contrast(120%);
}

.filter-grayscale {
  filter: grayscale(50%);
}

.filter-satur-bright {
  filter: saturate(90%) brightness(110%);
}

.filter-saturate {
  filter: saturate(120%);
}

.svg-mask {
  mask-image: url(../svg/heart-full.svg);
  mask-size: auto 120%;
  mask-repeat: no-repeat;
  mask-position: center;
}

.filter-hue {
  filter: hue-rotate(10deg);
}

.filter-sepia {
  filter: sepia(60%);
}

.card-decoration {
  position: absolute;
  opacity: 0.5;
  color: #000;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--decoration-color), 0 1px var(--decoration-color),
    1px 0 var(--decoration-color), 0 -1px var(--decoration-color);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card-decoration {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--decoration-color);
    text-stroke: 1px var(--decoration-color);
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  border-block-start: 2px solid var(--accent-color);
  padding: 25px;
}

.card__paragraph {
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 0 25px 25px 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
}

.button {
  position: relative;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: black;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
  outline: none;
}

.card__like-button {
  padding: 7px 0;
  min-inline-size: 130px;
}

.save_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: center;
  margin-block-end: 50px;
  padding: 15px 20px;
}

.button__text {
  color: #fff;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
}

.floppy {
  color: #fff;
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.popup {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 30px 20px;
  padding: 30px;
  transition: opacity 0.3s ease-in-out;
  max-inline-size: 353px;
}

.popup:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.popup__paragraph {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.popup__button {
  grid-column: 1 / 3;
  padding: 7px 35px;
}

.popup::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.popup__floppy {
  align-self: center;
  inline-size: 39px;
  block-size: 39px;
}

@media (width <= 375px) {
  .header,
  .content {
    inline-size: 100%;
  }

  .save_button {
    flex-direction: column;
  }

  .card-decoration {
    inset-inline-end: 13px;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .popup {
    padding: 30px 40px;
    max-inline-size: 341px;
  }
}
