/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --regular: 400;
  --bold: 700;
  --section-inline-size: 48.7%;
  --header-padding: clamp(7.5rem, 7.324rem + 0.751vw, 8rem);
  --decoration-color: #fff;
  --accent-color: #000;
  --bg-image: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
              repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
              linear-gradient(180deg, #e7e7e7 0, #e7e7e7 0.01%, #1a1a1a 100%);
  --contour-color: #000;
  --animation-fill-color: #FF0000;
}